<% content_for :name do %>
  <%= link_to "Load Data " ,admin_attendance_load_data_path ,data:{turbo_method: :post } %>

  <div class="flex mt-3 justify-between">
  <%=
    link_to 'Download as Excel',
            admin_attendance_path(format: :xlsx)
  %>
  <%=
    link_to 'Upload from Excel',
            items_imports_new_path
  %>
<% end %>
</div>


<% content_for :admin_content do %>
<div class="overflow-auto">

  <div class="mt-10 justify-center mx-auto">

    <%= form_with(url: admin_attendance_path, method: :get, data: {turbo_frame: "search_results" ,turbo_action: "advance", controller:"search" , action:"input->search#submit"}) do |f| %>
      <%= label_tag(:query, "Search for") %>
      <%= text_field_tag :query, params[:query], data: {target: "search.query"} %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>


    <%= turbo_frame_tag "search_results" do %>
    <div class="  ">
          <table class="divide-y  divide-gray-300 ">
            <thead class="bg-white">
            <tr>
              <th class="px-6 py-2  text-gray-700">
                ID
              </th>
              <th class="px-6 py-2 text-gray-700">
                Name
              </th>
              <th class="px-6 py-2 text-gray-700">
                Date
              </th>
              <th class="px-6 py-2 text-gray-700">
                Exception
              </th>
              <th class="px-6 py-2 text-gray-700">
                Clock_in
              </th>

              <th class="px-6 py-2 text-gray-700">
                Clock_out
              </th>

              <th class="px-6 py-2 text-gray-700">
                Break_in
              </th>

              <th class="px-6 py-2 text-gray-700">
                Break_out
              </th>

              <th class="px-6 py-2 text-gray-700">
                Break_duration
              </th>
              <th class="px-6 py-2 text-gray-700">
                Comment
              </th>

              <th class="px-6 py-2 text-gray-700">
                Action
              </th>


            </tr>
            </thead>

            <tbody  class="bg-white divide-y divide-gray-300">

              <%= render partial: "admin/attendance/attendances", collection: @attendance %>

            </tbody>


          </table>
         <div class="mt-2">
           <%= paginate @attendance %>
         </div>
        </div>


  </div>
    <% end %>

</div>
<% end %>