<div class="flex justify-center w-auto">

  <% flash.each do |type, msg| %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold"><%=type %>!</strong>
      <span class="block sm:inline"><%=msg %></span>

    </div>
  <% end %>
</div>
<% content_for :name do %>
  <p>Office : <%=@office.name %></p>
<% end %>


<% content_for :admin_content do %>
  <div class="m-3" >
        <div class="m-3">

        
            <%= form_with model: @users ,url:admin_user_workflow_path(:office_id => @office.id) , remote: true , html: {class:"mt-8  flex "} do |f| %>
              <div class="flex flex-col  w-full justify-center items-center">

                <div class="w-1/2">
                  <%= f.label :"Workflow Name:"%><br />
                  <%= f.text_field :workflow_name, class:"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"%>
                </div>

                <div class="w-1/2">
                  <%= f.label :"Workflow Manager Email:" %><br />
                  <% options = options_from_collection_for_select(@users, 'id' , 'email' ) %>
                  <%= f.select :workflow_manager,  options,{ include_blank: true } , class:"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"%>
                </div>

                <div class="container">
                  <%= f.label :"Employees:"%><br />
                  <select  data-controller="slim-select" data-stimulus-slimselect-options-value = "<%={ hideSelectedOption: true, showSearch: false, class: 'dropdown-container', placeholder: t('actions.click_to_add_lists')}.to_json%> " multiple>
                    <% if !@users.blank? %>
                      <% for user in @users %>
                        <option value="<%=user.email %>" ><%=user.email %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>

                   <div class="m-3">
                     <%= f.submit "Create Profile" ,class:"group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>

                   </div>
              </div>
            <% end %>
        </div>

    <%= render partial: "user_workflows/user_workflows" , collection:  @user_workflows,  as: :workflow%>
    
    </div>




<% end %>


