<% content_for :name do %>
  Edit Role
<% end %>


<% content_for :admin_content do %>
  <div class="mt-6">

    <div class="flex items-center justify-center ">
      <div data-controller="role" class=" w-3/4 space-y-8">
        <div>
          <h2  class="mt-2 text-center text-3xl font-extrabold text-gray-900">
           Edit Role
          </h2>
        </div>

        <%= form_with model: @admin ,url:admin_edit_role_path(role_id:@role.id ) , method: :put , html: {class:"mt-2  flex"} do |f| %>
          <div class="flex flex-col w-full">
            <div class="field">
              <%= f.label :Name %><br />
              <%= f.text_field :name, autofocus: true, value:@role.name, class:"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"%>
            </div>

            <div class="container">
              <%= f.label :"Permissions:"%><br />
              <%= f.select :permissions, options_from_collection_for_select(@permissions, 'id' , 'name',@permission_ids),{ include_blank: true } ,
                           data:{controller:"select2" , select2_options_value:{hideSelectedOption: true, showSearch: true , class: 'dropdown-container', placeholder: t('actions.click_to_add_lists')}.to_json},
                           multiple:'multiple'
              %>

            </div>

            <div class="">
              <%= f.label :"Country" %><br />
              <% countries = options_from_collection_for_select(@countries, 'id' , 'name',@country ) %>
              <%= f.select :country,  countries,{ include_blank: true } , data:{action: "change->role#select_cities change->role#select_offices" , role_target:"name"}, class:"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"%>
            </div>

          </div>
          <div class="flex flex-col mx-2 w-full">
            <div class="container">
              <%= f.label :"Cities:"%><br />
              <% cities = options_from_collection_for_select(@city, 'id', 'name',@cities ) %>
              <%= f.select :cities, cities,{ include_blank: true } ,
                           data:{controller:"select2" , role_target:"output city_name" , action: "change->role#select_offices" ,select2_options_value:{hideSelectedOption: true, showSearch: true , class: 'dropdown-container', placeholder: t('actions.click_to_add_lists')}.to_json},
                           multiple:'multiple'
              %>

            </div>

            <div class="mt-2">
              <%= f.label :"Offices:"%><br />
              <% offices = options_from_collection_for_select(@office, 'id', 'name',@offices ) %>
              <%= f.select :offices, offices,{ include_blank: true } ,
                           data:{controller:"select2", role_target:"output_place" , select2_options_value:{hideSelectedOption: true, showSearch: true , class: 'dropdown-container', placeholder: t('actions.click_to_add_lists')}.to_json},
                           multiple:'multiple'
              %>

            </div>

            <div class="mt-6">
              <%= f.submit "Edit" ,class:"group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

<% end %>