<div class="  flex justify-center pt-10  px-20">
  <div class="space-y-10">

    <div class="flex items-center p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
      <div class="font-bold">
        <%= posts.title %>
      </div>
      <div class="flex bg-gray-100 p-4 w-72 space-x-4 rounded-lg">
        <%= posts.body %>
      </div>
      <div class="flex py-3 px-4 rounded-lg text-gray-500 font-semibold cursor-pointer">

        <% pre_like = posts.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= link_to 'Unlike', post_like_path(posts, pre_like), method: :delete %>
        <% else %>
          <%= link_to 'Like', post_likes_path(posts), method: :post %>
        <% end %>

        <p class="mx-2"><%= posts.likes.count %> <%= (posts.likes.count) == 1 ? 'Like' : 'Likes'%></p>

      </div>
      <div class="bg-red-600 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
       <%= link_to "delete" , post_path(posts) , method:  :delete %>
      </div>

      <div class="bg-yellow-600 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
        <%= link_to "edit" , edit_post_path(posts) , method:  :get %>
      </div>
      <div>
        <%= posts.email %>
      </div>
    </div>


  </div>
</div>