

<% content_for :name do %>

  <p class="text-xl text-gray-700"> Welcome <%= @user.email %></p>

<% end %>


<% content_for :admin_content do %>
  <div class="bg-slate-700 w-full py-10 px-10">
    <div>
      <div class="sm:flex space-x-7 md:items-start items-center">
        <div class="mb-4">
          <img class="rounded-md md:w-80" src="<%= url_for(@user.user_profile.avatar) %>" alt="<%= @user.user_profile.nmae %>" />
        </div>
        <div>
          <h1 class="text-slate-100 text-4xl font-bold my-2"><%= @user.user_profile.nmae %></h1>
          <p class="text-slate-100 text-lg tracking-wide mb-6 md:max-w-lg">Full stack web developer and online instructor, specializiing in mostly JS, but also write Python, PHP and some other stuff.</p>
          <h1 class="text-slate-100 text-3xl font-bold my-2">Position:  <%= @user.user_profile.position %></h1>
          <h1 class="text-slate-100 text-2xl font-bold my-2">Line Manager:  <%= @user.user_profile.line_manager %></h1>
        </div>

      </div>
    </div>
    <div class="mt-8 sm:grid grid-cols-3 sm:space-x-4">
      <div class="bg-slate-600 p-6 rounded-md mb-4">
        <span class="text-slate-400 text-md">Location</span>
        <h2 class="text-slate-100 text-2xl font-semibold"><%= @user.user_profile.adress %></h2>
      </div>
      <div class="bg-slate-600 p-6 rounded-md mb-4">
        <span class="text-slate-400 text-md">Working location</span>
        <h2 class="text-slate-100 text-2xl font-semibold"><%=@user.user_profile.working_country%>:<%=@user.user_profile.working_city%>:<%=@user.user_profile.working_office%></h2>
      </div>
    </div>
    <div><p class="m-3 text-2xl font-bold">Leave Balance</p></div>
    <div class="w-2/3 mt-2">
      <input type="range" value="35" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#262626, #262626);background-size: 90% 100%;background-repeat: no-repeat;"  disabled/>
      <output id="rangevalue" class="mx-4" style=" background: #262626;">18</output>
      <span>Manual Leave</span>
    </div>
    <div class="w-2/3 mt-2">
      <input type="range" value="35" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#990000, #990000);background-size: 60% 100%;background-repeat: no-repeat;"  disabled/>
      <output id="rangevalue" class="mx-4" style=" background: #990000;">3</output>
      <span>Sick Leave</span>
    </div>

    <div class="w-2/3 mt-2">
      <input type="range" value="35" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#006600, #006600);background-size: 100% 100%;background-repeat: no-repeat;"  disabled/>
      <output id="rangevalue" class="mx-4" style=" background: #006600;">5</output>
      <span>Other Leave</span>
    </div>
  </div>


<% end %>


