

<% content_for :name do %>

  <p class="text-xl text-gray-700"> Welcome <%= @user.email %></p>

<% end %>


<% content_for :admin_content do %>
  <div class="bg-slate-700 w-full py-10 px-10">
    <div>
      <div class="sm:flex space-x-7 md:items-start items-center">
        <div class="mb-4">
          <img class="rounded-md md:w-80" src="<%= url_for(@user.user_profile.avatar) %>" alt="<%= @user.user_profile.nmae %>" />
        </div>
        <div>
          <h1 class="text-slate-100 text-4xl font-bold my-2"><%= @user.user_profile.nmae %></h1>
          <p class="text-slate-100 text-lg tracking-wide mb-6 md:max-w-lg">Full stack web developer and online instructor, specializiing in mostly JS, but also write Python, PHP and some other stuff.</p>
          <h1 class="text-slate-100 text-3xl font-bold my-2">Position:  <%= @user.user_profile.position %></h1>
          <h1 class="text-slate-100 text-2xl font-bold my-2">Line Manager:  <%= @user.user_profile.line_manager %></h1>
        </div>

      </div>
    </div>
    <div class="mt-8 sm:grid grid-cols-3 sm:space-x-4">
      <div class="bg-slate-600 p-6 rounded-md mb-4">
        <span class="text-slate-400 text-md">Location</span>
        <h2 class="text-slate-100 text-2xl font-semibold"><%= @user.user_profile.adress %></h2>
      </div>
      <div class="bg-slate-600 p-6 rounded-md mb-4">
        <span class="text-slate-400 text-md">Working location</span>
        <h2 class="text-slate-100 text-2xl font-semibold"><%=@user.user_profile.working_country%>:<%=@user.user_profile.working_city%>:<%=@user.user_profile.working_office%></h2>
      </div>
    </div>
    <div><p class="m-3 text-2xl font-bold">Leave Balance</p></div>


      <% if user_signed_in? %>
      <div class="w-2/3 mt-2">
        <input type="range" value="<%=@user.leave.annual_leave%>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#262626, #262626);background-size: <%=((1.0 *@user.leave.annual_leave/21)*100).to_i %>% 100%;background-repeat: no-repeat;"  disabled/>
        <output id="rangevalue" class="mx-4" style=" background: #262626;"><%=@user.leave.annual_leave%></output>
        <span>Annual Leave</span>
        </div>
        <div class="w-2/3 mt-2">
          <input type="range" value="<%=@user.leave.sick_leave%>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#990000, #990000);background-size: <%=((1.0 *@user.leave.sick_leave/6)*100).to_i %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #990000;"><%=@user.leave.sick_leave%></output>
          <span>Sick Leave</span>
        </div>

      <% if @user.user_profile.gender == 'female' %>
        <div class="w-2/3 mt-2">
          <input type="range" value="<%=@user.leave.maternity_leave%>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#0052cc, #0052cc);background-size: <%=((1.0 *@user.leave.maternity_leave/60)*100).to_i %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #0052cc;"><%=@user.leave.maternity_leave%></output>
          <span>Maternity Leave</span>
        </div>
      <%else %>
        <div class="w-2/3 mt-2">
          <input type="range" value="<%= @user.leave.paternity_leave %>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#0052cc, #0052cc);background-size: <%=((1.0 *@user.leave.paternity_leave/2)*100).to_i %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #0052cc;"><%= @user.leave.paternity_leave %></output>
          <span>Paternity Leave</span>
        </div>
      <%end %>

        <div class="w-2/3 mt-2">
          <input type="range" value="<%= @user.leave.marriage_leave %>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#006600, #006600);background-size: <%=((1.0 *@user.leave.marriage_leave/5)*100).to_i %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #006600;"><%= @user.leave.marriage_leave %></output>
          <span>Marriage Leave</span>
        </div>

        <div class="w-2/3 mt-2">
          <input type="range" value="<%= @user.leave.bereavement_leave %>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#000000, #000000);background-size: <%=((1.0 *@user.leave.bereavement_leave/2)*100).to_i %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #000000;"><%= @user.leave.bereavement_leave %></output>
          <span>Bereavement Leave</span>
        </div>

        <div class="w-2/3 mt-2">
          <input type="range" value="<%=@user.leave.compensatory_off_leave %>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#994d00, #994d00);background-size: <%= @user.leave.compensatory_off_leave>0?100:0 %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #994d00;"><%= @user.leave.compensatory_off_leave %></output>
          <span>Compensatory Off</span>
        </div>
        <div class="w-2/3 mt-2">
          <input type="range" value="<%= @user.leave.loss_of_pay_leave %>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#660033, #660033);background-size: <%= @user.leave.loss_of_pay_leave>0?100:0 %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #660033;"><%= @user.leave.loss_of_pay_leave %></output>
          <span>Loss Of Pay Leave</span>
        </div>
        <div class="w-2/3 mt-2">
          <input type="range" value="<%= @user.leave.hourly_leave %>" min="0" max="100" class="" style="-webkit-appearance: none;width: 75%;height: 7px;background: rgba(255, 255, 255, 0.9);border-radius: 5px;background-image: linear-gradient(#808000, #808000);background-size: <%= @user.leave.hourly_leave>0?100:0 %>% 100%;background-repeat: no-repeat;"  disabled/>
          <output id="rangevalue" class="mx-4" style=" background: #808000;"><%= @user.leave.hourly_leave %></output>
          <span>Hourly Leave</span>
        </div>

      <%end %>

  </div>


<% end %>


